= render 'layouts/menu'
%h1

%ul.nav.nav-tabs{ role: 'tablist' }
  %li{ role: 'presentation', class: 'active' }
    %a{ href: '#unanswered',
        area: { controls: 'unanswered' },
        role: 'tab',
        data: { toggle: 'tab' } } 開催日前のトピックス
  %li{ role: 'presentation' }
    %a{ href: '#my',
        area: { controls: 'my' },
        role: 'tab',
        data: { toggle: 'tab' } } 自分の作ったトピックス


.tab-content
  #unanswered.tab-pane{ role: 'tabpanel' }
    = render 'topics/index', topics: Topic.unanswered(current_user)
  #my.tab-pane{ role: 'tabpanel' }
    = render 'topics/index', topics: current_user.topics.order('updated_at DESC')
