.row
  .col-sm-3
    = link_to '会議を招集する', '#', class: 'btn btn-success btn-block'
  .col-sm-3
    = link_to '議題を投稿する', '#', class: 'btn btn-success btn-block'
  .col-sm-2
  .col-sm-2
    = link_to '過去の会議を見る', '#', class: 'btn btn-default btn-block'
  .col-sm-2
    = link_to '過去の議題を見る', '#', class: 'btn btn-default btn-block'
