.row
  .col-sm-12
    .col-sm-3
      = link_to '会議を招集する', new_topic_path(topic_type: '会議'), class: 'btn btn-primary btn-block'
    .col-sm-3
      = link_to '議題を投稿する', new_topic_path(topic_type: '議題'), class: 'btn btn-success btn-block'
    .col-sm-2
    .col-sm-2
      = link_to '過去の会議を見る', '#', class: 'btn btn-link btn-block', style: "display: none"
    .col-sm-2
      = link_to '過去の議題を見る', '#', class: 'btn btn-link btn-block', style: "display: none"
